#erfahrungsberichte {
  width: 90%;
  max-width: var(--max-width-sm);
  margin: var(--margin);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}

#erfahrungsberichte .img-container {
  flex: 1;
  min-width: 300px;
}
#erfahrungsberichte .slider {
  flex: 1;
  min-width: 400px;
}

#erfahrungsberichte .card {
  background: #fff;
  padding: 30px;
  width: 100%;
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 20px;
  box-shadow: 2px 20px 30px var(--shadow-color);
}

#erfahrungsberichte .avatar {
  width: 100px;
  min-width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  background: var(--secondary);
}

#erfahrungsberichte .text {
  flex: 1;
  min-width: 200px;
}

#erfahrungsberichte .text i {
  color: var(--primary);
  font-size: 1.3rem;
}

/* height: 100px; */
#erfahrungsberichte .text p {
  color: #696969;
  height: 100px;
  font-size: 0.9rem;
  letter-spacing: 1px;
  margin: 5px 0 15px 0;
}

#erfahrungsberichte .text strong {
  color: #363636;
  font-weight: 700;
  letter-spacing: 1px;
}

@media (max-width: 450px) {
  #erfahrungsberichte .slider {
    min-width: 200px;
  }
  #erfahrungsberichte .img-container {
    min-width: 200px;
  }
}
/* my solution */
@media (max-width: 300px) {
  #erfahrungsberichte .card .text p {
    min-height: 130px;
  }
}
